#contact {
    h3 {
        margin-top: 1em;
        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }
    .contact-info {
        td {
            text-align: center;
        }
    }
    #map {
        width: 100%;
        height: 300px;
        border: 2px solid $red;
        box-sizing: border-box;
    }
    .mailbox {
        input {
            display: block;
            width: 100%;
            padding: 0.5em 1em;
            margin-bottom: 0.5em;
        }
        [placeholder="Comment"] {
            width: 100%;
            vertical-align: baseline;
        }
    }
}