
body {
    background-color: $grey;
}
#document {
    margin: 3em auto;
    @media screen and (max-width: 991px) {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
.paper {
    position: relative;
    height: 90vh;
    overflow: scroll;
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    @media screen and (max-width: 991px) {
        height: 100vh;
        padding: 0;
        box-shadow: none;
    }
    .paper-content {
        padding: 2em 0;
        @media screen and (max-width: 991px) {
            padding: 0;
        }
        .section {
            @media screen and (max-width: 991px) {
                margin: 0;
                padding: 0 1em;
            }
        }
    }
}
h1,
h2,
h3,
h4 {
    font-family: "Code Bold", Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 1em;
}
h5,
h6 {
    font-family: "Champagne";
}
p,
a,
span {
    font-family: "Source Pro";
}
.mybtn {
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 1em;
    margin: 1em 0;
    background-color: $red;
    color: $white;
    transition: 0.2s all ease-in-out;
    &:hover {
        background-color: $grey;
    }
}
