@font-face {
    font-family: "Code Bold";
    src: url("../font/CODE_Bold.otf") format("opentype");
}
@font-face {
    font-family: "Champagne";
    src: url("../font/Champagne & Limousines.ttf");
}
@font-face {
    font-family: "Source Pro";
    src: url("../font/SourceSansPro-Regular.ttf");
}