.introScreen {
    position: absolute;
    z-index: 10000;
    background-color: rgba(65, 64, 66, 0.9);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        width: 300px;
        height: 300px;
    }
}
