.navigation {
    @media screen and (max-width: 991px) {
        padding: 0;
        z-index: 1000;
        width: 100%;
    }
    ul {
        padding: 0;
        margin: 0;
        text-align: center;
        list-style: none;
        background-color: $red;
        li {
            vertical-align: center;
            margin: 0;
            @media screen and (max-width: 991px) {
                display: inline-block;
            }
            a {
                width: 100%;
                height: 100%;
                color: $white;
                position: relative;
                i {
                    padding: 1em;
                    width: 100%;
                    height: 3em;
                    top: 0;
                }
                .nav-name {
                    position: absolute;
                    height: 3em;
                    width: 0em;
                    opacity: 0;
                    text-align: left;
                    right: 100%;
                    padding: 1em;
                    background-color: $red;
                    z-index: -1;
                    transition: all 0.2s ease-in-out;
                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }
                &:hover {
                    i,
                    .nav-name {
                        background-color: $white;
                        color: $red;
                    }
                    .nav-name {
                        width: 10em;
                        opacity: 1;
                    }
                }
            }
        }
        .active {
            background-color: $black;
        }
    }
}
