#portfolio {
    h3 {
        padding: 0 0.5em;
        @media screen and (max-width: 991px) {
            text-align: center;
            padding-top: 1em;
        }
    }
    .gallery {
        background-color: $grey;
        height: 100%;
        .project {
            height: auto;
            iframe {
                margin-top: 1em;
            }
            .title {
                padding: 0.5em 0;
                margin: 0;
                text-align: left;
            }
            .details {
                margin-bottom: 1em;
                font-size: 0.8em
            }
        }
    }
}
