#profile {
    .page-clip {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
//        background-color: $red;
        border-left:40px solid $red ;
        border-top: 40px solid $red;
        border-bottom: 40px solid transparent;
        border-right: 40px solid transparent;
    }
    .img-holder {
        position: relative;
        @media screen and (max-width: 991px) {
            background-color: $black;
            margin: 0;
        }
        img {
            width: 100%;
            @media screen and (max-width: 991px) {
                width: 80%;
                border-radius: 100%;
                padding-top: 1em;
            }
        }
        .title {
            position: absolute;
            bottom: 0;
            left: 1em;
            color: $white;
            @media screen and (max-width: 991px) {
                position: relative;
                left: 0;
                width: 100%;
                text-align: center;
                padding: 1em 0;
            }
            h1 {
                margin-bottom: 0.5em;
            }
        }
    }
    .contact-info {
        @media screen and (max-width: 991px) {
            width: 80%;
            margin: auto;
        }
        table {
            margin: 1em 0;
            td:first-child {
                text-align: center;
            }
            tr {
                transition: 0.3s all ease-out;
                &:hover {
                    background-color: $grey;
                }
            }
            a {
                text-decoration: none;
                color: $black;
            }
        }
    }
    .sns-links {
        text-align: center;
        a {
            color: $black;
            &:hover {
                color: $red;
            }
        }
    }
    .profile-section,
    .testimonial-section {
        padding-bottom: 1em;
        h4 {
            margin-top: 0;
        }
        p {
            line-height: 2em;
            font-size: 0.8em
        }
        .testimonial-block {
            background-color: $grey;
            .reference {
                padding: 10px 0;
            }
            .testimonials {
                padding: 10px 0;
                p {
                    padding: 1em;
                    line-height: 2em;
                    i {
                        color: $red;
                        margin: 0em 1em;
                    }
                }
            }
        }
        @media screen and (max-width: 991px) {
            padding: 1em 0;
            h4 {
                text-align: center;
            }
            hr {
                margin: 0.5em 0;
                background-color: $grey;
            }
        }
    }
}
