#resume {
    padding: 2em 0;
    .resume-heading {
        border-top: 1px solid $grey;
        padding-bottom: 1em;
        &:first-child {
            border-top: none;
        }
        h3 {
            margin: 0;
        }
    }
    [data-toggle="collapse"] {
        cursor: pointer;
        &:hover {
            background-color: $grey;
        }
    }
    #experience-section {
        .job-section {
            border-left: 1px solid $grey;
            padding-left: 2em;
            margin-bottom: 1em;
            .job-header {
                margin-top: 2em;
                color: $red;
                &:first-child {
                    margin-top: 0;
                }
                h4 {
                    margin-bottom: 0.3em;
                }
            }
            .job {
                .title {
                    margin: 0;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                .date {
                    font-weight: 100;
                    font-size: 0.7em;
                    font-style: italic;
                    margin: 0;
                    padding-left: 0.5em;
                }
                .description {
                    font-weight: 100;
                    font-size: 0.8em;
                }
                i {
                    color: $red;
                }
            }
        }
    }
    #education-section {
        .education-section {
            border-left: 1px solid $grey;
            padding-left: 2em;
            margin-bottom: 1em;
            .education-header {
                margin-top: 2em;
                color: $red;
                &:first-child {
                    margin-top: 0;
                }
                h4 {
                    margin-bottom: 0.3em;
                }
            }
            .education {
                .title {
                    margin: 0;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                .date {
                    font-weight: 100;
                    font-size: 0.7em;
                    font-style: italic;
                    margin: 0;
                    padding-left: 0.5em;
                }
                .description {
                    font-weight: 100;
                    font-size: 0.8em;
                }
                i {
                    color: $red;
                }
            }
        }
    }
    #award-section {
        .award-section {
            border-left: 1px solid $grey;
            padding-left: 2em;
            margin-bottom: 1em;
            .award-header {
                margin-top: 2em;
                color: $red;
                &:first-child {
                    margin-top: 0;
                }
                h4 {
                    margin-bottom: 0.3em;
                }
            }
            .award {
                .title {
                    margin: 0;
                    font-size: 1.1em;
                    font-weight: bold;
                }
                .date {
                    font-weight: 100;
                    font-size: 0.7em;
                    font-style: italic;
                    margin: 0;
                    padding-left: 0.5em;
                }
                .description {
                    font-weight: 100;
                    font-size: 0.8em;
                }
                i {
                    color: $red;
                }
            }
        }
    }
    #skills-section {
        padding: 0;
        margin: 0;
        .skills {
            margin-bottom: 1em;
        }
        h4 {
            margin: 0;
            padding: 0;
            color: $red;
        }
        .skill-list {
            padding: 0;
            li {
                list-style: none;
                h5 {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img {
                        max-width: 20px;
                        max-height: 20px;
                        margin-left: 1em;
                    }
                }
                .progress {
                    margin-bottom: 1em;
                    .progress-bar {
                        background-color: $red;
                    }
                }
            }
        }
    }
}
